#aboutMe{
		padding-top:70px;
		text-align: center;
		background-color: #;
		border-bottom: solid;
	}
	
#education{
	padding-top:70px;
	text-align: center;
	background-color: #;
	border-bottom: solid;
}

#workEx{
	padding-top:70px;
	text-align: center;
	background-color: #;
	border-bottom: solid;
}

#contactMe{
	padding-top:70px;
	text-align: center;
	background-color: #;
	padding-bottom: 10px;
}

#TjOM{
	border: solid;
	border-radius: 15px;
}

#Ocuco{
	border: solid;
	border-radius: 15px;
}

#AnPost{
	border: solid;
	border-radius: 15px;
}

#hobbies{
	padding-top:70px;
	text-align: center;
	background-color: #;
	border-bottom: solid;
}

#project1{
	border: solid;
	border-radius: 15px;
}

#project2{
	border: solid;
	border-radius: 15px;
}
